@font-face {
	font-family: 'Genericons';
	font-weight: normal;
	font-style:  normal;

	src: url('../genericons/genericons-regular-webfont.eot');
	src: url('../genericons/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../genericons/genericons-regular-webfont.woff') format('woff'),
	     url('../genericons/genericons-regular-webfont.ttf') format('truetype'),
	     url('../genericons/genericons-regular-webfont.svg#genericonsregular') format('svg');
}
/* Social Menus */
#itek-social li a::before {
	display:        inline-block;
	font-family:    'Genericons';
	font-size:      22px;
	font-style:     normal;
	font-weight:    normal;
	font-variant:   normal;
	line-height:    1;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
}
	/* Social menu */
	#itek-social { background-color: #fff;}

	#itek-social li a::before        { content: '\f408'; padding: 0 3px; }
	#itek-social li a:hover::before { opacity: 0.75; background-color: none; }
	
	#itek-social li a[href*="codepen.io"]::before      { content: '\f216'; color: #fff;    }
	#itek-social li a[href*="digg.com"]::before        { content: '\f221'; color: #fff;    }
	#itek-social li a[href*="dribbble.com"]::before    { content: '\f201'; color: #ea4c89; }
	#itek-social li a[href*="facebook.com"]::before    { content: '\f203'; color: #3b5998; }
	#itek-social li a[href*="flickr.com"]::before      { content: '\f211'; color: #ff0084; }
	#itek-social li a[href*="plus.google.com"]::before { content: '\f206'; color: #dd4b39; }
	#itek-social li a[href*="github.com"]::before      { content: '\f200'; color: #4183c4; }
	#itek-social li a[href*="instagram.com"]::before   { content: '\f215'; color: #3f729b; }
	#itek-social li a[href*="linkedin.com"]::before    { content: '\f208'; color: #0e76a8; }
	#itek-social li a[href*="pinterest.com"]::before   { content: '\f210'; color: #c8232c; }
	#itek-social li a[href*="polldaddy.com"]::before   { content: '\f217'; color: #bc0b0b; }
	#itek-social li a[href*="getpocket.com"]::before   { content: '\f224'; color: #ee4056; }
	#itek-social li a[href*="reddit.com"]::before      { content: '\f222'; color: #336699; }
	#itek-social li a[href*="stumbleupon.com"]::before { content: '\f223'; color: #ff2618; }
	#itek-social li a[href*="tumblr.com"]::before      { content: '\f214'; color: #34526f; }
	#itek-social li a[href*="twitter.com"]::before     { content: '\f202'; color: #33ccff; }
	#itek-social li a[href*="vimeo.com"]::before       { content: '\f212'; color: #1AB7EA; }
	#itek-social li a[href*="wordpress.org"]::before,
	#itek-social li a[href*="wordpress.com"]::before   { content: '\f205'; color: #21759b; }
	#itek-social li a[href*="youtube.com"]::before     { content: '\f213'; color: #c4302b; }
	
	#itek-social li a:hover { background-color: transparent; }

/* Social Icons End */

.genericon:before,
.menu-toggle:after,
.featured-post:before,
.date a:before,
.entry-meta .author a:before,
.entry-title  a:after,
.format-audio .entry-content:before,
.comments-link a:before,
.tags-links a:first-child:before,
.categories-links a:first-child:before,
.edit-link a:before,
.sticky-read-more a:before,
.read-more a:before,
.banner-read-more a:before,
.slider-read-more a:before,
.attachment .entry-title:before,
.attachment-meta:before,
.attachment-meta a:before,
.comment-awaiting-moderation:before,
.comment-reply-link:before,
#reply-title small a:before,
.bypostauthor .fn:before,
.error404 .page-title:before {
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'Genericons';
	vertical-align: text-bottom;
}

/* Clearing floats */
.clear:after,
.attachment .entry-header:after,
.site-footer .widget-area:after,
.entry-content:after,
.page-content:after,
.navigation:after,
.nav-links:after,
.gallery:after,
.comment:after {
	clear: both;
}

.clear:before,
.clear:after,
.attachment .entry-header:before,
.attachment .entry-header:after,
.site-footer .widget-area:before,
.site-footer .widget-area:after,
.entry-content:before,
.entry-content:after,
.page-content:before,
.page-content:after,
.navigation:before,
.navigation:after,
.nav-links:before,
.nav-links:after,
.gallery:before,
.gallery:after,
.comment:before,
.comment:after {
	content: "";
	display: table;
}

/* Social Icons End */

body.admin-bar .navbar-fixed-top {
    padding-top: 32px;
}
#parallax-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 50px;
    z-index: -1;
}
body.admin-bar #parallax-bg {
    margin-top: 80px;
}

/* Text elements */
.hentry, 
.entry-meta, 
h1, 
h2, 
h3, 
h4, 
h5, 
p, 
ul, 
ol, 
li {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}
p {
	font-size:15px;
}
a {
    color: #1e8bc3;
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: none;
}

.site-header {
    margin-top: 65px;
    background: transparent;
}
.navbar-inverse {
    background-color: #1e8bc3;
}
.navbar-inverse .navbar-inner {
    background: transparent;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #1e8bc3;
    text-transform: capitalize;
}
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #1e8bc3;
}

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #1e8bc3;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 150px;
	padding: 0;
	margin: 0;
	font-size: 1em;
	list-style: none;
	background-color: #1e8bc3;
	border: none;
	border-radius: 0;
}

.dropdown-menu>li>a {
	margin-top: 6px;
	padding: 15px;
	min-width: 200px;
}

.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus {
	background-color: #1e8bc3;
}
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #1e8bc3;
	outline: 0;
}
.navbar .brand {
    font-size: 26.5px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
	padding-top: 5px;
	padding-bottom: 5px;
}
.navbar .brand a{
    color: #3c444c;
}
.navbar {
    margin-bottom: 0;
}
.navbar a {
    font-family: 'Open Sans', sans-serif;
}
header .navbar .nav>li>a {
    padding-top: 20px;
    padding-bottom: 25px;
}

.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #fff;
}
#menu-menu-main .current_page_parent,
#menu-menu-main .current-menu-item,
#menu-footer-menu  .current_page_parent,
#menu-footer-menu .current-menu-item {
	background-color:#166790;
}

h3.site-description {
    margin: 0;
	padding-top: 5px;
	color: #1e8bc3;
	font-size: 22px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	text-align: center
}
.site-main {
    margin-top: 0px;
}
.site-main .container {
    padding: 0 20px;
    background: #f4f4f4;
}

.page-description p {
    margin-top: 30px;
}
	
footer {
    clear: both;
}
footer.entry-meta {
    padding: 20px 0 10px 0;
}
/* === Tables === */

table {
	margin:       0 0 25px;
	width:        100%;
	border-left:  1px solid #208dbe;
	border-right: 1px solid #208dbe;
}

caption {
	font-size:  0.875rem;
	font-style: italic;
	color:      #888;
}

th,
td {
	padding:     4px 2%;
	border:      1px solid #208dbe;
	border-left: none;
}

th {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:   0.8125rem;
	font-weight: bold;
	text-align:  left;
}

td {
	color:      #666;
	border-top: none;
}
	
/* wp-calendar */

#wp-calendar th,
#wp-calendar td {
	text-align: center;
}

#wp-calendar tbody a {
	display:         block;
	font-weight:     bold;
	text-decoration: none;
}
#wp-calendar tbody a:hover {
	text-decoration: underline;
}

#wp-calendar, 
#wp-calendar tfoot tr,
#wp-calendar tfoot td {
	border: none;
}

#wp-calendar thead,
#wp-calendar tbody {
	border-left: 1px solid #208dbe;
}

#wp-calendar thead th {
	color:      #d8f1fc;
	background: #208dbe;
}

#wp-calendar tbody td.pad {
	background:  #f9f9f9;
}
	
/* =Comments
-------------------------------------------------------------- */

.comments-title {
	padding-top: 24px;
	margin-bottom: 24px;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	line-height: 1.5;
	font-weight: 600;
}
.comments-area article {
	margin: 24px 0;
	margin: 1.714285714rem 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	font-size: 1rem;
}
.comments-area article header {
	margin: 0 0 48px;
	margin: 0 0 3.428571429rem;
	overflow: hidden;
	position: relative;
}
.comments-area article header img {
	float: left;
	padding: 0;
	line-height: 0;
}
.comments-area article header cite,
.comments-area article header time {
	display: block;
	margin-left: 85px;
	margin-left: 6.071428571rem;
}
.comments-area article header cite {
	font-style: normal;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.071428571rem;
	line-height: 1.42857143;
}
.comments-area article header time {
	line-height: 1.714285714;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.857142857rem;
	color: #5e5e5e;
}
.comments-area article header a {
	text-decoration: none;
	color: #5e5e5e;
}
.comments-area article header a:hover {
	color: #21759b;
}
.comments-area article header cite a {
	color: #444;
}
.comments-area article header cite a:hover {
	text-decoration: underline;
}
.comments-area article header h4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 12px;
	padding: 0.428571429rem 0.857142857rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	font-weight: normal;
	color: #fff;
	background-color: #0088d0;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #009cee, #0088d0);
	background-image: -ms-linear-gradient(top, #009cee, #0088d0);
	background-image: -webkit-linear-gradient(top, #009cee, #0088d0);
	background-image: -o-linear-gradient(top, #009cee, #0088d0);
	background-image: linear-gradient(top, #009cee, #0088d0);
	border-radius: 3px;
	border: 1px solid #007cbd;
}
.comments-area li.bypostauthor cite span {
	position: absolute;
	margin-left: 5px;
	margin-left: 0.357142857rem;
	padding: 2px 5px;
	padding: 0.142857143rem 0.357142857rem;
	font-size: 10px;
	font-size: 0.714285714rem;
}
a.comment-reply-link,
a.comment-edit-link {
	color: #686868;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
a.comment-reply-link:hover,
a.comment-edit-link:hover {
	color: #21759b;
}
.comment-list .pingback {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}

/* Comment form */
#respond {
	margin-top: 48px;
	margin-top: 3.428571429rem;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	font-size: 1rem;
}
#respond h3#reply-title {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.5;
}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	margin-left: 0.714285714rem;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-size: 0.857142857rem;
}
#respond form {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
#respond form p {
	margin: 11px 0;
	margin: 0.785714286rem 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-size: 0.857142857rem;
}
#respond form p.logged-in-as {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
#respond form label {
	display: block;
	line-height: 1.714285714;
}

#respond form textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	padding: 10px;
	padding: 0.714285714rem;
	width: 100%;
}
#respond form textarea:focus {
    border-color:#208dbe;
}
#respond form input[type="text"] {
    width: 50%;
	font-family: 'Open Sans', sans-serif;
}
#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #208dbe;
}
#respond #submit {
    border-radius: 0;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	border: 3px solid #1e8bc3;	
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	width: auto;
	padding: 10px 15px 10px 15px;
	text-align: center;
	background: #1e8bc3;
	color:#fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#33ffffff',GradientType=0 ); /* IE6-8 */
	z-index: 10;
}
#respond #submit:hover {
    background: #000;
	color: #fff;
	border: 3px solid #000;
}

.form-allowed-tags code {
	font-size: 10px;
	margin-left: 3px;
	white-space:normal;
    color: #208dbe;
}

.comment-list .pingback,
.comment-list .trackback {
	padding-top: 24px;
}
.comment-list,
.comment-list .children {
	list-style-type: none;
	padding: 0;
}

.comment-navigation {
	font: 300 italic 20px 'Open Sans', sans-serif;
	margin: 0 auto;
	max-width: 604px;
	padding: 20px 0 30px;
	width: 100%;
}

.no-comments {
	background-color: #f7f5e7;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0;
	padding: 40px 0;
	text-align: center;
}

.sidebar .no-comments {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	box-sizing:         border-box;
	padding-left: 60px;
	padding-right: 376px;
}

/* Buttons
=================================================================== */
.button,
input[type="button"] {
	padding: 9px 12px;
	display: inline-block;
	border: 0px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	cursor: pointer;
	width: auto;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

input[type="button"] {float: left;}

.button.medium {padding: 11px 17px; font-size: 14px;}

.button.gray {color: #fff;background: #444;}
.button.gray:hover {background:#72b626;}

.button.light {color:#fff; background:#aaa;}
.button.light:hover {background:#72b626;}

.button.color {color:#fff; background:#72b626;}
.button.color:hover {background:#aaa;}

/* Input Button */
input[type="button"] {color:#fff; background:#72b626;}
input[type="button"]:hover {background:#aaa}

.button.gray:hover, 
.button.light:hover, 
.button.color {
	background: #555;
}

.button.color {color:#fff; background:#29a9df;}
.button.color:hover {background:#aaa;}

input[type="button"] {
	background: #29a9df;
	color: #fff;
}

#pagination, #posts-pagination,
#post-pagination {
  margin: 0 0 40px 0;
  clear: both;
}

#posts-pagination {
  float: left;
  width: 100%;
  margin: 0 0 1em;
  line-height: 1.2;
}
#posts-pagination .previous,
#posts-pagination .next {
  max-width: 48%;
  font-size: 16px;
  word-break: break-word;
}
#posts-pagination .previous {
  margin: 0 0 0 15px;
}
#posts-pagination .next {
  margin: 0 15px 0 0;
}
#posts-pagination .previous a,
#posts-pagination .next a {
  color: #3c444c;
}

#posts-pagination .previous a:hover,
#posts-pagination .next a:hover {
  color: #fff;
}
.post-navigation .btn,
#posts-pagination .btn,
#pagination .btn {
   color: #fff;
   background: #1e8bc3;
}
.post-navigation .btn:hover,
#posts-pagination .btn:hover,
#pagination .btn:hover {
   color: #fff;
   background: #000;
}
#pagination .btn {
   padding: 8px 15px 10px 15px;
}

.post-navigation .btn {
   margin-bottom: 20px;
   padding: 8px 15px 10px 15px;
}

.sticky-read-more { margin-top: 40px; float: right;}
.sticky-read-more a { color: #fff !important;}
.sticky-read-more a:hover { color: #ea9629;}
.sticky-read-more a:before {
	content: '\f308';
	margin-right: 2px;
}

/*.read-more { margin: 0 0 20px; float: none;}*/
.read-more a { color: #fff;}
.read-more a:hover { color: #1e8bc3;}
/*.read-more a:before {
	content: '\f301';
	margin-right: 2px;
}*/
.read-more {
  background: #1e8bc3 !important;
  border: 1px solid #1e8bc3 !important;
  text-shadow: none;
  text-transform: capitalize;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 18px !important;
  padding: 11px 22px 12px !important;
  font-weight:normal;
   float: left;
}
.read-more:hover {
  background: #fff !important;
  color: #1e8bc3 !important;
}
.callout-button.button,
.read-more.button,
.sticky-read-more.button {
	border-radius: 0;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
	border: 4px solid #1e8bc3;	
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	width: auto;
	padding: 5px 10px 5px 10px;
	text-align: center;
	background: #1e8bc3;
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333c444c', endColorstr='#333c444c',GradientType=0 ); /* IE6-8 */
	z-index: 10;
}

.callout-button.button {
    font-size: 18px;
	line-height: 28px;
	text-align:center;
	margin: 10px auto;
	float: right;
}
.callout-button.button:hover,
.read-more.button:hover,
.sticky-read-more.button:hover {
	background: #000;
	color: #fff;
	border: 4px solid #000;
}

.widget {
	margin: 2em 0;
}

.widget-title {
   font-size: 22px;
   margin-bottom: 25px;
}

.widget ol,
.widget ul,
.widget li {
	margin-left: 0.5em;
	padding-left: 0.2em;
	font-family: 'Open Sans', sans-serif;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

.widget input, 
.widget textarea, 
.widget .uneditable-input {
    width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

.widget_itek_ephemera .widget-title:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 16px/1 Genericons;
	text-decoration: inherit;
	vertical-align: text-bottom;
}

.widget_itek_ephemera .entry-title:after {
	content: "\0020\007c\0020";
}

/* Ephemera Widget*/

.widget_itek_ephemera > ol > li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 0;
	margin: 0 0 0 -10px;
	
	list-style: none;
}

.widget_itek_ephemera .hentry {
	margin: 0;
	max-width: 100%;
}

.widget_itek_ephemera .entry-title,
.widget_itek_ephemera .entry-meta,
.widget_itek_ephemera .wp-caption-text,
.widget_itek_ephemera .post-format-archive-link,
.widget_itek_ephemera .entry-content table {
	font-size: 12px;
	line-height: 1.5;
}

.widget_itek_ephemera .entry-title {
	display: inline;
	font-weight: 400;
}

.widget_itek_ephemera .entry-meta {
	margin-bottom: 18px;
}

.widget_itek_ephemera .entry-meta a {
	color: rgba(50, 111, 173, 0.7);
}

.widget_itek_ephemera .entry-meta a:hover {
	color: #208dbe;
}

.widget_itek_ephemera .entry-content ul,
.widget_itek_ephemera .entry-content ol,
.widget_itek_ephemera .entry-content li {
	margin: 0 0 18px 0px;
}

.widget_itek_ephemera .entry-content li > ul,
.widget_itek_ephemera .entry-content li > ol {
	margin: 0;
}

.widget_itek_ephemera .entry-content th,
.widget_itek_ephemera .entry-content td {
	padding: 6px;
}

.widget_itek_ephemera .post-format-archive-link {
	font-weight: 700;
	text-transform: uppercase;
}

/* Alternative Recent Post Widget */

.itek-recent-post-widget li{
   padding:0 0 4px 0!important; 
   margin-bottom:9px!important;
   margin-left: -20px;   
   clear:left; 
   background:none;
   list-style: none;

}

.frame.wp-post-image:hover {
   opacity: 0.75;
}
.itek-recent-post-widget li h3{
   font-size:1rem;
   margin-bottom:3px;
   line-height: 20px;
   margin-top: 3px;
}
.itek-recent-post-widget a:hover {
	color: #333;
}
.itek-recent-post-widget li .smalldate{
   font-size:14px; 
   display:block; 
   font-style:italic; 
   overflow:hidden;
}

/* Two Showcase Widget Areas */
#showcase .widget {
	margin: 1.5rem;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

#showcase h2 {
	font-size: 22px;
}

#supplementary.two .widget-area {
	float: left;
	margin-right: 3.7%;
	width: 48.1%;
}
#supplementary.two .widget-area + .widget-area {
	margin-right: 0;
}

/* Three Showcase Widget Areas */
#supplementary.three .widget-area {
	float: left;
	margin-right: 3.7%;
	width: 30.85%;
}
#supplementary.three .widget-area + .widget-area + .widget-area {
	margin-right: 0;
}

#supplementary .img-circle {
    border-radius: 50%;
	border: 3px solid rgb(238, 238, 238);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
	width: 125px;
	height: 125px;
}

#supplementary  .widget-area:hover .entry-title a {
   	color: #1e8bc3;
}

#callout-container {
    margin-bottom: 20px;
}

#callout {
    padding: 20px;
}

.callout-text h2.callout-title {
    margin-top: 0px;
    font-size: 1.6em;
	font-weight: 600;
    line-height: 1em;
	color: #05a9c5;
}

.callout-button a {
    color: #fff;
}

.callout-button a:hover {
    color: #1e8bc3;
}

.header-separator {    
	border-bottom: double 5px #05a9c5;
	opacity: 0.1;
	filter: alpha(opacity=10);
}

.content-separator,
.sidebar-separator,
.footer-separator {    
	border-bottom: double 5px #05A9C5;
	opacity: 0.1;
	filter: alpha(opacity=10);
}

.header-separator {
	margin: 0;
}

.content-separator {
	padding: 0;
}

.sidebar-separator {
	margin: 15px 0 5px 0;
}

.footer-separator {
	margin: -10px -10px 15px -10px;
}

@media (max-width: 999px) {
    body.admin-bar .navbar-fixed-top {
	   position: fixed;
    }
	body.admin-bar .navbar-fixed-top {
       margin-top: 40px;
	   padding-top: 0;
    }
	.navbar-static-top {
	   padding-left: 20px;
	   padding-right: 20px;
    }
	.navbar-fixed-top .btn-navbar {
	   margin-right: 25px;
	}
	body.admin-bar #parallax-bg {
       margin-top: 40px;
    }
	body.custom-background {
	   background: #f4f4f4 !important;
	}
	.site-header {
	   margin-top: 60px;
	}
	.navbar-inner {
       background-color: #1e8bc3;
    }
	.navbar .brand {
       padding-left: 10px;
       margin-left: 5px;
    }
	.read-more { 
	    display: none;
    }
	.callout-button.button {
        float: none;		
		margin-left: 20px;
    }
}

@media (max-width: 767px) {
	.navbar-fixed-top .btn-navbar {
	   margin-top: 10px;
	   margin-right: 35px;
	}
	.navbar .brand {
       padding-left: 20px;
    }
	.dropdown-menu,
	.dropdown-submenu ,
	.navbar-inverse .dropdown-menu,
	.navbar-inverse .dropdown-submenu ,
	.navbar-inverse .navbar-inner .dropdown-menu,
	.navbar-inverse .navbar-inner .dropdown-submenu{       
        text-decoration:none;
		color:#ffffff;
        background-color:#1e8bc3;
        background-image:-moz-linear-gradient(top, #1e8bc3, #1e8bc3);
        background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#1e8bc3), to(#1e8bc3));
        background-image:-webkit-linear-gradient(top, #1e8bc3, #1e8bc3);
        background-image:-o-linear-gradient(top, #1e8bc3, #1e8bc3);
        background-image:linear-gradient(to bottom, #1e8bc3, #1e8bc3);
        background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff#1e8bc3', endColorstr='#ff#1e8bc3', GradientType=0);}
	.site-description {
	    text-align: center;
	}
	#social-icons {
        padding: 0 10px 10px 0;
    }
	#showcase #supplementary .widget-area {
	    float: none;
		width: 100%;
    }
	.summary-thumbnail {
       float: none;
       padding: 0 0 10px 0;
    }
	.expandable-image {
	  left: -15px;
	  width: 104%;
	}
	.rainbow-preloader {
		display:none;
	}
}

@media (max-width: 600px) {
	.navbar-fixed-top .btn-navbar {
	   margin-top: 20px;
	   margin-right: 45px;
	   margin-top: 10px;
	}
	#showcase #supplementary .widget-area {
	    float: none;
		width: 100%;
    }
}

@media (max-width: 480px) {
	.navbar-fixed-top .btn-navbar {
	   margin-top: 10px;
	}
	.content-box .content-padding {
		display:none;
	}
}

/*contact form 7*/
.form-home {
  margin: 10px 0 20px 30px;
}
.row-field {
  position: relative;
  margin: 10px 0px;
}
.row-field.textbox {
  margin-bottom: 20px;
}
.form-home .row-field i {
  display: block;
  position: absolute;
  left: -30px;
  font-size: 20px;
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=33);
  padding: 5px 0;
  color: #7f8c8d;
  width: 30px;
  text-align: center;

}
.wpcf7-form-control .wpcf7-submit .button {
	padding:0;
}
.form-home input, .form-home select, .form-home textarea {
  padding: 4px 0 4px 30px;
  margin-left: -30px;
}
.tuvan-widget {
  padding: 10px 15px;
  background-color: #1e8bc3;
}
.tuvan-widget h1.widget-title {
  color: #fff;
  text-align: center;
    line-height: 20px;
  margin-bottom: 15px;
}
/*input.wpcf7-form-control.wpcf7-submit.button {
  padding: 10px;
  margin: 10px 0 0;
  width: auto;
  font-weight: normal;
}*/
input.wpcf7-form-control.wpcf7-submit.button {
	width: auto;
    background: #ff9f00 !important;
	border: 1px solid #ff9f00 !important;
	text-shadow: none;
	text-transform: capitalize;
	font-weight: normal;
	color: #ffffff !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-size: 18px !important;
	padding: 11px 22px 12px !important;
}
input.wpcf7-form-control.wpcf7-submit.button:hover {
  background: transparent !important;
  border: 1px solid #fff !important;
  color: #fff !important;
}

.pagesubmit input.wpcf7-form-control.wpcf7-submit.button {
	width: auto;
    background: #1e8bc3 !important;
	border: 1px solid #1e8bc3 !important;
	text-shadow: none;
	text-transform: capitalize;
	font-weight: normal;
	color: #ffffff !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-size: 18px !important;
	padding: 11px 22px 12px !important;
}
.pagesubmit input.wpcf7-form-control.wpcf7-submit.button:hover {
  background: transparent !important;
  border: 1px solid #1e8bc3 !important;
  color: #1e8bc3 !important;
}
span.wpcf7-not-valid-tip, .wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
  color: #ff9f00;
}

/*contact-info widget*/
.contact-info {
  border: 1px dashed #a7a7a7;
  padding: 10px;
}
p.hot-line {
  font-size: 20px;
  font-weight: 700;
  color: #e51400;
}
.contact-slogan {
  padding: 10px;
  margin-top: 20px;
  background-color: #e51400;
}
.contact-slogan p {
  color: #fff;
  font-size: 15px;
  margin-bottom:0;
  display: table;
}
span.thumbs-up {
  font-size: 30px;
  display: table-cell;
  width: 40px;
  vertical-align: middle;
}
span.thumbs-content {
	display: table-cell;
	vertical-align: middle;
}
/*Show Case Widget*/
#showcase .widget.align-none {text-align:left;}
.first-showcase {background-color:#35bc7a;color:fff;padding:0 0 5px;min-height: 270px;position: relative;}
.second-showcase {background-color:#f86924;color:fff;padding:0 0 5px;min-height: 270px;position: relative;}
.third-showcase {background-color:#ff9f00;color:fff;padding:0 0 5px;min-height: 270px;position: relative;}
.first-showcase a, .second-showcase a, .third-showcase a {
color:#fff;
}
.first-showcase a:hover, .second-showcase a:hover, .third-showcase a:hover {
  color: #333;
}
.first-showcase h3.widget-title,
.second-showcase h3.widget-title,
.third-showcase h3.widget-title {
  color: #fff;  padding-top: 20px;
}
.service-box.extra-btn {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.quick-note {
	color: rgb(255, 255, 255);
	font-size: 15px;
	line-height: 25px;
}

ul.itek-recent-post-widget {
  /* margin: 0; */
  /* padding: 0; */
  padding: 0;
  margin: 0 0 10px 20px;
}
.service-box .btn-align {
  text-align: right;
}
.service-box.extra-btn .btn {
  width: 41px;
  padding: 41px 0 0 0;
  height: 0;
  overflow: hidden;
  border: 2px solid #ffffff !important;
  background: none !important;
  position: relative;
  -webkit-border-radius: 41px;
  -moz-border-radius: 41px;
  border-radius: 41px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.service-box.extra-btn .btn:hover {
  background: #ffffff !important;
}
.service-box.extra-btn .btn:hover:before {
  left: 0;
}
.service-box.extra-btn .btn:hover:after {
  left: 50px;
}
.service-box.extra-btn .btn:before,
.service-box.extra-btn .btn:after {
  content: '\f061';
  width: 42px;
  font-size: 24px;
  font-family: FontAwesome;
  line-height: 41px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.service-box.extra-btn .btn:before {
  left: -50px;
}
.service-box.extra-btn .btn:after {
  left: 0;
  color: #ffffff;
}
.first-showcase .service-box.extra-btn .btn:before {
  color: #35bc7a;
}
.second-showcase .service-box.extra-btn .btn:before {
  color: #f86924;
}
.third-showcase .service-box.extra-btn .btn:before {
  color: #ff9f00;
}


/*Content box*/
.content-box {
  background-color: #fff;
  margin: 0 -10px 10px;
  padding: 0 10px;
}
.content-padding {
  padding: 20px;
}
.content-box .content-padding{
	padding: 0 20px;
	margin: -10px 0 -20px;
}
.dark {
	background-color:#3C444C;
}
ul.products.date li.product, ul.products.list li.product {
  border-bottom: none;
}
.expandable-image {
  position: absolute;
  top: -115px;
  left: -15px;
  width: 102%;
  height: 115px;
  background: url('../img/header-bg.png') no-repeat;
}
.site-description-content {
	background-color: #fff;
	padding: 0 10px;
	float: left;
}
.cam-nang img {
	float:left;
	padding: 0 10px 10px 0;
	width:30%!important;
}
.cam-nang h3 {
  clear: none;
  line-height: 30px;
  text-transform: uppercase;
  color: #ff9f00;
  font-weight: 500;
}
.cam-nang p {
	color:#fff;
	font-weight: 300;
	font-size: 14px;
}
.item-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #333;
  margin-left: -24px;
  background: #e2e2e2;
  position: relative;
  padding: 0 0 0 24px;
}
.item-title:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 40px;
  border: 7px solid;
  border-color: #a7a7a7 #a7a7a7 transparent transparent;
}

.metro {
  margin: 0 -10px 2em;
}

.metro .bg-lighterBlue {
  background-color: #4390df;
}
.metro .bg-lighterBlue:hover{
  background-color: #666;
}
.metro .notice {
  display: block;
  height: auto;
  position: relative;
  background-color: #4390df;
  padding: 20px;
}
.metro .notice.marker-on-right:before {
  top: 50%;
  margin-top: -5px;
  left: 100%;
  margin-left: -5px;
}
.metro .notice:before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  background-color: inherit;
  left: -5px;
  top: 50%;
  margin-top: -5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.metro .fg-white {
  color: #ffffff;
}
.metro h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.00em;
  font-size: 4.8rem;
  line-height: 4.8rem;
}
.metro .subheader-secondary {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.00em;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2.2rem;
}
.metro p {
  margin: 0 0 7pt;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  font-size: 11pt;
  line-height: 15pt;
  letter-spacing: 0.02em;
}

.metro ol.styled {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2rem;
}
.metro ol.styled > li {
  position: relative;
  margin: 0 0 6px 2em;
  padding: 4px 12px;
  list-style: none;
    font-size: 15px;
}
.metro ol.styled > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 10px;
  left: -2em;
  box-sizing: border-box;
  width: 2em;
  margin-right: 8px;
  padding: 4px;
  color: #fff;
  background: #666;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

/*filter widget*/
.padding-widget-woof {
 padding: 10px 10px 0;
}
.widget.widget-woof {
  background-color: #fff;
  margin:0;
  border-top: 1px dashed #a7a7a7;
  border-left: 1px dashed #a7a7a7;
  border-right: 1px dashed #a7a7a7;
}
.widget-woof .widget-title {
  margin-bottom: 5px;
  margin-top: 0;
  color: #2c3e50;
}
.widget_price_filter {
  margin: 0 0 30px;
  background-color: #fff;
  border-bottom: 1px dashed #a7a7a7;
  border-left: 1px dashed #a7a7a7;
  border-right: 1px dashed #a7a7a7;
}
.widget_price_filter form {
	padding: 10px 10px 10px 20px;
}
.price_label {
  color: #2c3e50;
}

.widget_price_filter button.button {
    background: #1e8bc3 !important;
  border: 1px solid #1e8bc3 !important;
  text-shadow: none;
  text-transform: capitalize;
  color: #ffffff !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 18px !important;
  padding: 11px 22px 12px !important;
  font-weight:normal;
}
.widget_price_filter button.button:hover {
  background: #fff !important;
  color: #1e8bc3 !important;
}

/*Content single*/
.span8.content-class {
  background-color: #fff;
  margin-bottom: 30px;
}
.span8.content-class article {
  padding: 10px 30px;
}
.span8.content-class h1.entry-title {
  font-size: 25px;
}
.widget_recent_post_widget {
	background-color: #fff;
}
.sagojo-widget {
  padding: 20px;
}
li.color-trang, li.color-xam {
  margin: 0;
  padding: 0;
}
footer.entry-meta {
  padding: 10px 0;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
footer.entry-meta,
footer.entry-meta a {
  color: #999999;
    font-size: 15px;
}
span.posted-on, span.author.byline, span.cat-links, span.edit-link {
  margin-right: 10px;
}
header.page-header {
  margin-left: 30px;
  margin-right: 30px;
}
.share-social {
  padding: 10px 0;
  margin: 40px 0;
}
.share-social .fb-share, .share-twitter, .google-plus, .fb-buttom-like {
  display: inline;
  float: left;
  line-height: 0;
}
.fb_iframe_widget {
  display: inline-block;
  position: relative;
}
.fb_iframe_widget {
  margin-right: 10px;
}

#parallax-bg {
  position: fixed;
  animation: awan-animasi 50s linear infinite;
  -ms-animation: awan-animasi 50s linear infinite;
  -moz-animation: awan-animasi 50s linear infinite;
  -webkit-animation: awan-animasi 50s linear infinite;
}

@keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-webkit-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-ms-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-moz-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}


.rainbow-preloader .rainbow-stripe:nth-child(1) {
  border-color: #f15a5a;
  clip: rect(0, 84px, 42px, 0);
  height: 60px;
  left: 48px;
  -webkit-transform: rotate(180deg);
  top: 48px;
  width: 60px;
  z-index: 5;
  -webkit-animation: rainbow-in-out 5s 0.1s infinite;
}
.rainbow-preloader .rainbow-stripe:nth-child(1):before {
  border: 3px solid #ed2b2b;
  content: '';
  display: block;
  height: 48px;
  width: 54px;
}

.rainbow-preloader .rainbow-stripe:nth-child(2) {
  border-color: #f0c419;
  clip: rect(0, 108px, 54px, 0);
  height: 84px;
  left: 36px;
  -webkit-transform: rotate(180deg);
  top: 36px;
  width: 84px;
  z-index: 4;
  -webkit-animation: rainbow-in-out 5s 0.2s infinite;
}
.rainbow-preloader .rainbow-stripe:nth-child(2):before {
  border: 3px solid #c9a20d;
  content: '';
  display: block;
  height: 72px;
  width: 78px;
}

.rainbow-preloader .rainbow-stripe:nth-child(3) {
  border-color: #4eba6f;
  clip: rect(0, 132px, 66px, 0);
  height: 108px;
  left: 24px;
  -webkit-transform: rotate(180deg);
  top: 24px;
  width: 108px;
  z-index: 3;
  -webkit-animation: rainbow-in-out 5s 0.3s infinite;
}
.rainbow-preloader .rainbow-stripe:nth-child(3):before {
  border: 3px solid #3c9958;
  content: '';
  display: block;
  height: 96px;
  width: 102px;
}

.rainbow-preloader .rainbow-stripe:nth-child(4) {
  border-color: #2d95bf;
  clip: rect(0, 156px, 78px, 0);
  height: 132px;
  left: 12px;
  -webkit-transform: rotate(180deg);
  top: 12px;
  width: 132px;
  z-index: 2;
  -webkit-animation: rainbow-in-out 5s 0.4s infinite;
}
.rainbow-preloader .rainbow-stripe:nth-child(4):before {
  border: 3px solid #237596;
  content: '';
  display: block;
  height: 120px;
  width: 126px;
}

.rainbow-preloader .rainbow-stripe:nth-child(5) {
  border-color: #955ba5;
  clip: rect(0, 180px, 90px, 0);
  height: 156px;
  left: 0px;
  -webkit-transform: rotate(180deg);
  top: 0px;
  width: 156px;
  z-index: 1;
  -webkit-animation: rainbow-in-out 5s 0.5s infinite;
}
.rainbow-preloader .rainbow-stripe:nth-child(5):before {
  border: 3px solid #774984;
  content: '';
  display: block;
  height: 144px;
  width: 150px;
}

.rainbow-preloader {
  height: 90px;
  right: 8%;
  margin-left: -90px;
  margin-top: -90px;
  overflow: hidden;
  position: absolute;
  width: 180px;
}
.rainbow-preloader:before, .rainbow-preloader:after {
  background: linear-gradient(45deg, transparent 33.333%, #6b9903 33.333%, #6b9903 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #6b9903 33.333%, #6b9903 66.667%, transparent 66.667%);
  background-size: 6px 34px;
  bottom: 0;
  content: '';
  display: block;
  height: 12px;
  left: 0;
  position: absolute;
  width: 66px;
  z-index: 10;
}
.rainbow-preloader:after {
  left: auto;
  right: 0;
}
.rainbow-preloader .rainbow-stripe {
  border-width: 12px;
  border-style: solid;
  border-radius: 100%;
  position: absolute;
}
.rainbow-preloader .rainbow-stripe:before {
  border-radius: 100%;
}
.rainbow-preloader .shadow {
  background: rgba(0, 0, 0, 0.2);
  bottom: -1px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  height: 2px;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 0;
  -webkit-animation: shadow-in-out 5s infinite;
}
.rainbow-preloader .shadow + .shadow {
  left: 118px;
  -webkit-animation-delay: 0.5s;
}

@-webkit-keyframes rainbow-in-out {
  0% {
    -webkit-transform: rotate(180deg);
  }
  33% {
    -webkit-transform: rotate(360deg);
  }
  66% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
  }
}
@-webkit-keyframes shadow-in-out {
  0% {
    opacity: 0;
    width: 0;
  }
  33% {
    opacity: 1;
    width: 60px;
  }
  66% {
    opacity: 1;
    width: 60px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
.entry-content h4 {
  font-weight: 600;
  border-bottom: 1px solid #1e8bc3;
  border-left: 3px solid #1e8bc3;
  margin: 20px 0;
  padding-left: 10px;
  color: #1e8bc3;
}