#searchsubmit {
	display: none;
}

.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th {
    padding: 6px 12px 0px 6px; width: 100%; }
  
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, 
.woocommerce-page div.product div.images {
    float: none; width: 100%; }
  
.woocommerce #content div.product div.images img, .woocommerce div.product div.images img, .woocommerce-page #content div.product div.images img, 
.woocommerce-page div.product div.images img {
    max-height: 452px; height: auto; margin-top: 32px; }
  
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, 
.woocommerce-page div.product div.summary {
    float: none;width: 100%; margin-top: -18px;}
	
.woocommerce #content div.product .product_title, .woocommerce div.product .product_title, .woocommerce-page #content div.product .product_title, 
.woocommerce-page div.product .product_title {
    font-size: 28px; font-weight: 400; }
  
.woocommerce #reviews #comments h2, .woocommerce-page #reviews #comments h2 {font-size: 22px; font-weight: 400; }
  
.woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, 
.woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, 
.woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt {
	background:#1e8bc3;
	background:-webkit-gradient(linear,left top,left bottom,from(#1e8bc3),to(#1e8bc3));
	background:-webkit-linear-gradient(#1e8bc3,#1e8bc3);
	background:-moz-linear-gradient(center top,#1e8bc3 0,#1e8bc3 100%);
	background:-moz-gradient(center top,#1e8bc3 0,#1e8bc3 100%);
    border-color: #1e8bc3; border: 0px none; border-radius: 2px; color: #FFF; font-size: 12px; font-weight: 600;
    padding: 10px 30px 8px; text-transform: uppercase; vertical-align: bottom; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
  }
  
.woocommerce .woocommerce-product-rating .star-rating, .woocommerce-page .woocommerce-product-rating .star-rating,
.woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before  {float: right; color: #1e8bc3; }
.woocommerce .star-rating span:before {
  content: "\53\53\53\53\53";
  top: 0;
  position: absolute;
  left: 0;
  font-family: star;
}  
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, 
.woocommerce-page ul.product_list_widget li img {
    float: left; margin-right: 10px; margin-left: 0; width: 55px;  margin-top: 5px; }

.woocommerce span.onsale, .woocommerce-page span.onsale {
    font-size: 16px; width: 48px; height: 32px; line-height: 32px; border-radius: 12%; opacity: 0.9;
	background:#1e8bc3;
	background:-webkit-gradient(linear,left top,left bottom,from(#1e8bc3),to(#1e8bc3));
	background:-webkit-linear-gradient(#1e8bc3,#1e8bc3);
	background:-moz-linear-gradient(center top,#1e8bc3 0,#1e8bc3 100%);
	background:-moz-gradient(center top,#1e8bc3 0,#1e8bc3 100%);
	}
	
.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale {
    top: 1px; right: 1px; left: auto; margin: 0px; font-size: 12px; width: 32px; height: 22px; line-height: 32px;}
	
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
    color: #1e8bc3;}
	
.woocommerce #content div.product p.price, .woocommerce #content div.product span.price, .woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce-page #content div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page div.product span.price {
color: #1e8bc3;
}
	
.woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce div.product .woocommerce-tabs .panel, 
.woocommerce-page #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel {
   padding-left: 20px;}

.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-message {
    margin-top: 2em !important;
}

.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message,
.woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info {
    border-top: 3px solid #1e8bc3;
	display:none;
}

.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before,
.woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before {
    background-color: #1e8bc3;
}

.woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button {
    padding: 6px 10px;
    color: #1e8bc3;
    border: 1px solid #1e8bc3;
}

.woocommerce #payment div.payment_box, .woocommerce-page #payment div.payment_box {
background: #1e8bc3;
background: -webkit-gradient(linear,left top,left bottom,from(#1e8bc3),to(#1e8bc3));
background: -webkit-linear-gradient(#1e8bc3,#1e8bc3);
background: -moz-linear-gradient(center top,#1e8bc3 0,#1e8bc3 100%);
background: -moz-gradient(center top,#1e8bc3 0,#1e8bc3 100%);
color: #fff;
}

.woocommerce-page div.product .quantity .minus {
    bottom: 10px;}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
   width: 140px; height: 36px; }

@media only screen and (max-width: 600px) {
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	    margin: 0px 0px 2.992em 0px;
	    width: 100% !important;
	}

	.woocommerce div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page #content div.product div.images,
	.woocommerce div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page #content div.product div.summary {
	    float: left !important;
	    width: 100% !important;
	}
}

span.product-title {
  font-weight: normal;
}

/*by hanh*/
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  border-radius: 0;
  background-color: #e2e2e2;
  border: 0;
}
.woocommerce .widget_price_filter .ui-slider-horizontal {
  height: .8em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  border-radius: 0;
  background-color: #1e8bc3;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: .8em;
  height: .8em;
  background-color: #333;
  border-radius: 0;
  cursor: ew-resize;
  outline: 0;
  top: 0;
}
.woocommerce ul.products li.product a img {

  margin: 5px 0 1em;

}
.woocommerce-result-count {
	display:none;
}
.wc_woo_view_wrapper #wc_woo_view_tabs {
  /*display: none;*/
}
.woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button  {
    background: #1e8bc3 !important;
  border: 1px solid #1e8bc3 !important;
  text-shadow: none;
  text-transform: capitalize;
  color: #ffffff !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 18px !important;
  padding: 11px 22px 12px !important;
  font-weight:normal;
}
.woocommerce #content input.button:hover , .woocommerce #respond input#submit:hover , .woocommerce a.button:hover , .woocommerce button.button:hover , .woocommerce input.button:hover , .woocommerce-page #content input.button:hover , .woocommerce-page #respond input#submit:hover , .woocommerce-page a.button:hover , .woocommerce-page button.button:hover , .woocommerce-page input.button :hover {
  background: #fff !important;
  color: #1e8bc3 !important;
}
.woocommerce table.shop_attributes td {
  padding: 0 8px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 35px;
  top: 13px;
  border: 7px solid;
  border-color: transparent #e5e5e5 transparent transparent;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 36px;
  top: 13px;
  border: 7px solid;
  border-color: transparent #fff transparent transparent;
}

.widget_top_rated_products h1 {
  margin-bottom: 0;
  background-color: #fff;
  padding-left: 20px;
  padding-top: 20px;
}
.top_rated_class {
  background-color: #fff;
}

.woocommerce div.product form.cart .button {
  font-weight: 400;
  text-shadow: none;
  border-radius:0;
  margin-top: 10px;
}
.woocommerce .related, .woocommerce-page .related {
	padding: 20px;
	background-color: #fff;
}

.woocommerce .related .woo_grid_compare_button_container ,
.woocommerce-page .related .woo_grid_compare_button_container {
  display: none;
}
.related.products  ul.products.list  li{
  padding: 0;
}
.single_variation .price {
  display: none;
}
.woocommerce div.product form.cart .variations {
  display: none;
}
div#tab-description table {
  border: none;
}
div#tab-description table td, div#tab-description table th {
  font-weight:normal;
  border: none;
  border-bottom:1px solid #F4F4F4;
  font-size: 14px;
  padding: 0.2rem 0.8rem;
}
div#tab-description table td span {font-size: 14px;  line-height: 10px;}
.woocommerce div.product form.cart {
  float: left;
  margin-right: 20px;
    margin-bottom: 0;
}