/* Slider
================================================== */
.slider-wrap {
  background-color: #ffffff;
  overflow: hidden;
  margin: 0 -10px 30px;
}
.ie8 .slider-wrap {
  height: 336px;
}
.slider {
  overflow: visible;
  width: 68.376%;
}

@media (max-width: 480px) {
  .slider {
    display: none !important;
  }
}
.camera_wrap {
  margin-bottom: 0 !important;
}
.slider-wrap .camera_fakehover {
  background-color: #ffffff;
}
.cameraSlide img {
	margin: 0 !important;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.camera_caption {
    width: 46%;
    right: -46%;
  height: 100%;
  background-color: #ffffff;
  color: #8d949a;
}
.camera_caption.fadeFromRight,
.camera_caption.moveFromRight {
  right: auto;
}
.ie8 .camera_caption {
  background-color: #ffffff;
  width: 298px;
  right: -298px;
}
@media (max-width: 1200px) {
  .camera_caption {
    width: 46%;
    right: -46%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .camera_caption {
    width: 46%;
    right: -46%;
  }
}
@media (max-width: 767px) {
  .camera_caption {
    width: 46%;
    right: -46%;
  }
}
.camera_caption > div {
  background: none;
  padding: 51px 30px 0 31px;
}
.ie8 .camera_caption > div {
  padding: 28px 20px 0 20px;
}
@media (max-width: 1200px) {
  .camera_caption > div {
    padding: 28px 20px 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .camera_caption > div {
    padding-top: 16px;
  }
}
@media (max-width: 767px) {
  .camera_caption > div {
    padding: 27% 10px 10px 10px;
  }
}
.camera_caption h4 {
  line-height: 22px;
  font-weight: bold;
  color: #f86924;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 16px;
  margin: 0 0 14px 0;
  border-left:none;
}
@media (max-width: 979px) {
  .camera_caption h4 {
    display: none;
  }
}
.camera_caption h2 {
  color: #1e8bc3;
  font-size: 40px;
  font-weight: 300 !important;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.ie8 .camera_caption h2 {
  font-size: 32px;
  margin-bottom: 15px;
}
@media (max-width: 1200px) {
  .camera_caption h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .camera_caption h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .camera_caption h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
.camera_caption p {
  margin-bottom: 40px;
}
.ie8 .camera_caption p {
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .camera_caption p {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .camera_caption p {
    font-size: 13px;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .camera_caption p {
    height: 40px;
    overflow: hidden;
  }
}
.ie8 .camera_caption .btn {
  padding: 8px 16px 9px !important;
  font-size: 15px !important;
}
@media (max-width: 1200px) {
  .camera_caption .btn {
    padding: 8px 16px 9px !important;
    font-size: 15px !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .camera_caption .btn {
    padding: 5px 14px 6px !important;
    font-size: 13px !important;
  }
}
@media (max-width: 767px) {
  .camera_caption .btn {
    display: none;
  }
}
.camera_caption [class^="icon-"],
.camera_caption [class*=" icon-"] {
  width: 18px;
  height: 18px;
  line-height: 15px;
  border: 2px solid #e5e5e5;
  margin-right: 9px;
  float: left;
  display: block;
  vertical-align: top;
  text-align: center;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
}
.camera_caption [class^="icon-"]:before,
.camera_caption [class*=" icon-"]:before {
  font-size: 14px;
  line-height: 1.2em;
  color: #e5e5e5;
  width: auto;
}
.camera_target_content {
  overflow: visible;
}
.camera_wrap .camera_pag {
  position: absolute;
  /*right: -355px;*/
  bottom: 15px;
 /*width: 370px;*/
  height: 18px;
    width: 46%;
  right: -42%;
}
.ie8 .camera_wrap .camera_pag {
  width: 298px;
  right: -278px;
}
@media (max-width: 1200px) {
  .camera_wrap .camera_pag {
    width: 298px;
    right: -278px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .camera_wrap .camera_pag {
    bottom: 10px;
    right: -219px;
    width: 229px;
  }
}
@media (max-width: 767px) {
  .camera_wrap .camera_pag {
    width: 46%;
    right: -42%;
  }
}
.camera_wrap .camera_pag .camera_pag_ul {
  text-align: right;
}
.camera_wrap .camera_pag .camera_pag_ul li {
  margin: 0 0 0 9px;
  width: 14px;
  height: 14px;
  background: none;
  border: 2px solid #e5e5e5;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}
.camera_wrap .camera_pag .camera_pag_ul li span {
  display: none;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover {
  background: #e5e5e5;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent {
  border-color: #1e8bc3;
  background: #1e8bc3 !important;
}