@charset "UTF-8";
.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
.woo_grid_compare_button_container {
  display: inline-block;
  text-align: center;
  margin: 10px 0px 10px 0px !important;
}
.woo_grid_compare_button_container .woo_bt_compare_this {
  position: relative !important;
  cursor: pointer;
  display: inline-block !important;
  line-height: 1 !important;
}
.woo_grid_compare_button_container .woo_bt_compare_this_button {
  padding: 7px 8px !important;
  margin: 0;
  background-color: #476381 !important;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(.2,#538bbc),color-stop(1,#476381)) !important;
  background: -moz-linear-gradient(center top,#538bbc 20%,#476381 100%) !important;
  border: 1px solid #476381 !important;
  border-radius: 3px 3px 3px 3px !important;
  -moz-border-radius: 3px 3px 3px 3px !important;
  -webkit-border-radius: 3px 3px 3px 3px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  font: bold 12px Arial, sans-serif !important;
  color: #FFFFFF !important;
  text-align: center !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  text-decoration: none !important;
}
.woo_grid_compare_button_container .woo_bt_compare_this_link {
  font: bold 12px Arial, sans-serif !important;
  color: #000000 !important;
}
.woo_grid_compare_button_container .woo_bt_compare_this_link:hover {
  color: #999999 !important;
}
.woo_grid_compare_button_container .woo_bt_compare_this.compared:before {
  background: url(http://192.168.0.125/dongdu/wp-content/plugins/woocommerce-compare-products/assets/images/compare_success.png) no-repeat scroll 0 center transparent;
  position: absolute;
  right: -26px;
  content: "";
  height: 16px;
  text-indent: 0;
  width: 16px;
}
.woo_grid_compare_button_container .woo_bt_view_compare {
  position: relative !important;
  cursor: pointer !important;
  line-height: 1 !important;
  display: inline-block;
  margin-top: 5px !important;
}
.woo_grid_compare_button_container .woo_bt_view_compare_link {
  font: bold 12px Arial, sans-serif !important;
  color: #000000 !important;
}
.woo_grid_compare_button_container .woo_bt_view_compare_link:hover {
  color: #999999 !important;
}
.woo_compare_button_container {
  clear: both;
  margin: 10px 0px 10px 0px !important;
}
.woo_compare_button_container .woo_bt_compare_this {
  position: relative !important;
  cursor: pointer !important;
  display: inline-block !important;
  line-height: 1 !important;
}
.woo_compare_button_container .woo_bt_compare_this_button {
  padding: 7px 8px !important;
  margin: 0;
  background-color: #476381 !important;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(.2,#538bbc),color-stop(1,#476381)) !important;
  background: -moz-linear-gradient(center top,#538bbc 20%,#476381 100%) !important;
  border: 1px solid #476381 !important;
  border-radius: 3px 3px 3px 3px !important;
  -moz-border-radius: 3px 3px 3px 3px !important;
  -webkit-border-radius: 3px 3px 3px 3px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  font: bold 12px Arial, sans-serif !important;
  color: #FFFFFF !important;
  text-align: center !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  text-decoration: none !important;
}
.woo_compare_button_container .woo_bt_compare_this_link {
  font: bold 12px Arial, sans-serif !important;
  color: #000000 !important;
}
.woo_compare_button_container .woo_bt_compare_this_link:hover {
  color: #999999 !important;
}
.woo_compare_button_container .woo_bt_compare_this.compared:before {
  background: url(http://192.168.0.125/dongdu/wp-content/plugins/woocommerce-compare-products/assets/images/compare_success.png) no-repeat scroll 0 center transparent;
  position: absolute;
  right: -26px;
  content: "";
  height: 16px;
  text-indent: 0;
  width: 16px;
}
.woo_compare_button_container .woo_bt_view_compare {
  position: relative !important;
  cursor: pointer !important;
  line-height: 1 !important;
  display: inline-block;
  margin-top: 5px !important;
}
.woo_compare_button_container .woo_bt_view_compare_button {
  padding: 7px 8px !important;
  margin: 0;
  background-color: #476381 !important;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(.2,#538bbc),color-stop(1,#476381)) !important;
  background: -moz-linear-gradient(center top,#538bbc 20%,#476381 100%) !important;
  border: 1px solid #476381 !important;
  border-radius: 3px 3px 3px 3px !important;
  -moz-border-radius: 3px 3px 3px 3px !important;
  -webkit-border-radius: 3px 3px 3px 3px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  font: bold 12px Arial, sans-serif !important;
  color: #FFFFFF !important;
  text-align: center !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  text-decoration: none !important;
}
.woo_compare_button_container .woo_bt_view_compare_link {
  font: bold 12px Arial, sans-serif !important;
  color: #000000 !important;
}
.woo_compare_button_container .woo_bt_view_compare_link:hover {
  color: #999999 !important;
}
#compare_widget_title_container {
  float: left !important;
  padding: 5px 5px !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  background-color: #FFFFFF !important;
  border: 0px solid #476381 !important;
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}
#compare_widget_title_container #compare_widget_title_text {
  font: bold 12px Arial, sans-serif !important;
  color: #000000 !important;
}
#total_compare_product {
  font: normal 12px Arial, sans-serif !important;
  color: #000000 !important;
}
.no_compare_list {
  font: bold 12px Arial, sans-serif !important;
  color: #000000 !important;
}
ul.compare_widget_ul {
  list-style: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
ul.compare_widget_ul li.compare_widget_item {
  background: none !important;
  list-style: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 5px;
}
.woo_compare_remove_product {
  cursor: pointer;
  display: inline-block !important;
  text-decoration: none !important;
}
.woo_compare_remove_icon {
  border: none !important;
  padding: 0 !important;
  margin: 6px 0 0 !important;
  max-width: 10px !important;
  max-height: 10px !important;
}
.woo_compare_widget_item {
  display: block !important;
  text-decoration: none;
}
.compare_widget_action {
  margin-top: 10px;
}
.woo_compare_widget_thumbnail {
  width: 64px !important;
  max-width: 100% !important;
  min-width: auto !important;
  height: auto !important;
  float: left !important;
  margin: 0 5px 2px 0 !important;
  padding: 2px !important;
  background-color: #FFFFFF !important;
  border: 1px solid #CDCDCE !important;
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.compare_remove_column {
  float: right;
}
.compare_title_column {
  margin-right: 15px;
}
.woo_compare_widget_button_container {
  text-align: center;
  float: right !important;
}
.woo_compare_button_go {
  cursor: pointer;
  display: inline-block !important;
  line-height: 1 !important;
  margin: 0;
}
.woo_compare_widget_button_go {
  padding: 7px 8px !important;
  background-color: #476381 !important;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(.2,#538bbc),color-stop(1,#476381)) !important;
  background: -moz-linear-gradient(center top,#538bbc 20%,#476381 100%) !important;
  border: 1px solid #476381 !important;
  border-radius: 3px 3px 3px 3px !important;
  -moz-border-radius: 3px 3px 3px 3px !important;
  -webkit-border-radius: 3px 3px 3px 3px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  font: bold 12px Arial, sans-serif !important;
  color: #FFFFFF !important;
  text-align: center !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  text-decoration: none !important;
}
.woo_compare_widget_link_go {
  font: bold 12px Arial, sans-serif !important;
  color: #000000 !important;
}
.woo_compare_widget_link_go:hover {
  color: #999999 !important;
}
.woo_compare_clear_all_container {
  text-align: center;
  float: right !important;
  margin-top: 8px !important;
}
.woo_compare_clear_all {
  cursor: pointer;
  display: inline-block !important;
  line-height: 1 !important;
  margin: 0;
}
.woo_compare_clear_all_button {
  padding: 7px 8px !important;
  background-color: #476381 !important;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(.2,#538bbc),color-stop(1,#476381)) !important;
  background: -moz-linear-gradient(center top,#538bbc 20%,#476381 100%) !important;
  border: 1px solid #476381 !important;
  border-radius: 3px 3px 3px 3px !important;
  -moz-border-radius: 3px 3px 3px 3px !important;
  -webkit-border-radius: 3px 3px 3px 3px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  font: bold 12px Arial, sans-serif !important;
  color: #FFFFFF !important;
  text-align: center !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  text-decoration: none !important;
}
.woo_compare_clear_all_link {
  font: bold 12px Arial, sans-serif !important;
  color: #000000 !important;
}
.woo_compare_clear_all_link:hover {
  color: #999999 !important;
}
.3rd_inquiry_form_container {
  margin-top: 10px;
}
.woocp_video_type_container {
  width: 80%;
  position: relative;
  padding-bottom: 45%;
  padding-top: 25px;
  height: 0;
}
.woocp_video_type_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.woocp_audio_type_container {
  width: 80%;
  padding: 5px 0;
}
