@charset "UTF-8";
  .clear {
  clear:both;
}

.nobr {
  white-space:nowrap;
}

body {
  background-color:#FFFFFF !important;
}

.compare_print_container {
  z-index:9;
}

.compare_heading {
  background-color:#FFFFFF !important;
  border-bottom:3px solid #666666 !important;
}

.no_compare_list {
  text-align:center;
  font:normal 12px Arial,sans-serif !important;
  color:#000000 !important;
}

.woo_compare_print_msg {
  text-align:right;
  font:normal 12px Arial,sans-serif !important;
  color:#000000 !important;
}

.woo_compare_print {
  float:right;
  cursor:pointer;
  display:inline-block;
  line-height:1 !important;
  margin:0 10px 5px 0 !important;
  padding:7px 10px !important;
}

.compare_print_button_type {
  padding:7px 8px !important;
  background-color:#476381 !important;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(.2,#538bbc),color-stop(1,#476381)) !important;
  background:-moz-linear-gradient(center top,#538bbc 20%,#476381 100%) !important;
  border:1px solid #476381 !important;
  border-radius:3px 3px 3px 3px !important;
  -moz-border-radius:3px 3px 3px 3px !important;
  -webkit-border-radius:3px 3px 3px 3px !important;
  box-shadow:none !important;
  -moz-box-shadow:none !important;
  -webkit-box-shadow:none !important;
  font:bold 12px Arial,sans-serif !important;
  color:#FFFFFF !important;
  text-align:center !important;
  text-shadow:0 -1px 0 rgba(0,0,0,0.3);
  text-decoration:none !important;
}

.compare_print_link_type {
  position:relative;
  font:bold 14px Arial,sans-serif !important;
  color:#21759B !important;
}

.compare_print_link_type:hover {
  color:#D54E21 !important;
}

.woo_compare_close {
  float:right;
  cursor:pointer;
  display:inline-block;
  line-height:1 !important;
  padding:7px 10px !important;
  margin:0 10px 5px 0 !important;
}

.compare_close_button_type {
  padding:7px 8px !important;
  background-color:#476381 !important;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(.2,#538bbc),color-stop(1,#476381)) !important;
  background:-moz-linear-gradient(center top,#538bbc 20%,#476381 100%) !important;
  border:1px solid #476381 !important;
  border-radius:3px 3px 3px 3px !important;
  -moz-border-radius:3px 3px 3px 3px !important;
  -webkit-border-radius:3px 3px 3px 3px !important;
  box-shadow:none !important;
  -moz-box-shadow:none !important;
  -webkit-box-shadow:none !important;
  font:bold 12px Arial,sans-serif !important;
  color:#FFFFFF !important;
  text-align:center !important;
  text-shadow:0 -1px 0 rgba(0,0,0,0.3);
  text-decoration:none !important;
}

.compare_close_link_type {
  position:relative;
  font:bold 14px Arial,sans-serif !important;
  color:#21759B !important;
}

.compare_close_link_type:hover {
  color:#D54E21 !important;
}

#bg-labels {
  background-color:#FFFFFF !important;
}

#nameTableHldr {
  background-color:#FFF !important;
}

#product_comparison {
  border:1px solid #D6D6D6 !important;
  border-radius:0 !important;
  -moz-border-radius:0 !important;
  -webkit-border-radius:0 !important;
  border-collapse:collapse !important;
}

#nameTable {
  border:1px solid #D6D6D6 !important;
  border-radius:0 !important;
  -moz-border-radius:0 !important;
  -webkit-border-radius:0 !important;
  border-collapse:collapse !important;
}

tr.row_product_detail th,
tr.row_product_detail td {
  background-color:#FFFFFF !important;
}

tr.row_2 td,
tr.row_2 th {
  background-color:#F6F6F6 !important;
}

#product_comparison td,
#nameTable td {
  border-right:1px solid #D6D6D6 !important;
  border-bottom:1px solid #D6D6D6 !important;
  border-left:none;
}

#product_comparison th,
#nameTable th {
  border:none;
}

#bg-labels span,
.td-spacer {
  padding-top:10px !important;
  padding-bottom:10px !important;
  padding-left:10px !important;
  padding-right:10px !important;
}

.compare_add_cart a.add_to_cart_button_type {
  position:relative;
  display:inline-block;
  padding:7px 8px !important;
  margin-bottom:5px !important;
  background-color:#476381 !important;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(.2,#538bbc),color-stop(1,#476381)) !important;
  background:-moz-linear-gradient(center top,#538bbc 20%,#476381 100%) !important;
  border:1px solid #476381 !important;
  border-radius:3px 3px 3px 3px !important;
  -moz-border-radius:3px 3px 3px 3px !important;
  -webkit-border-radius:3px 3px 3px 3px !important;
  box-shadow:none !important;
  -moz-box-shadow:none !important;
  -webkit-box-shadow:none !important;
  font:bold 12px Arial,sans-serif !important;
  color:#FFFFFF !important;
  text-align:center !important;
  text-shadow:0 -1px 0 rgba(0,0,0,0.3);
  text-decoration:none !important;
}

.compare_add_cart a.add_to_cart_link_type {
  position:relative;
  font:bold 12px Arial,sans-serif !important;
  color:#21759B !important;
}

.compare_add_cart a.add_to_cart_link_type:hover {
  color:#D54E21 !important;
}

.compare_add_cart a.added:before {
  background:url(http://192.168.0.125/dongdu/wp-content/plugins/woocommerce-compare-products/assets/images/addtocart_success.png) no-repeat scroll 0 center transparent;
  position:absolute;
  right:-26px;
  content:"";
  height:16px;
  text-indent:0;
  width:16px;
}

.compare_add_cart a.added_to_cart {
  display:block;
  font:normal 12px Arial,sans-serif !important;
  color:#21759B !important;
}

.compare_add_cart a.added_to_cart:hover {
  color:#D54E21 !important;
}

.compare_add_cart .virtual_added_to_cart {
  display:block;
  visibility:hidden;
  font:normal 12px Arial,sans-serif !important;
  color:#21759B !important;
}

.compare_value {
  font:bold 12px Arial,sans-serif !important;
  color:#000000 !important;
  text-align:right !important;
}

.td-spacer {
  font:normal 12px Arial,sans-serif !important;
  color:#000000 !important;
}

.td-spacer iframe {
  z-index:8;
}

#product_comparison td.empty_cell {
  background-color:#F6F6F6 !important;
}

.empty_text {
  font:normal 12px Arial,sans-serif !important;
  color:#000000 !important;
}

.compare_product_name {
  font:bold 12px Arial,sans-serif !important;
  color:#CC3300 !important;
}

.compare_price {
  font:bold 16px Arial,sans-serif !important;
  color:#CC3300 !important;
}

.compare_popup_print .hide_in_print {
  display:none !important;
}

.compare_popup_print .compare_heading {
  position:absolute !important;
}

.compare_popup_print .compare_value {
  text-align:right !important;
  padding-top:10px !important;
  padding-bottom:10px !important;
  padding-left:10px !important;
  padding-right:10px !important;
  width:215px !important;
}

.compare_popup_print #product_comparison th,
.compare_popup_print #product_comparison td {
  border-right:1px solid #D6D6D6 !important;
  border-bottom:1px solid #D6D6D6 !important;
}
.compare_price, .compare_add_cart {
  display: none;
}